{% extends "index.html" %}
{% block content %}
<div>
    <h2> Podaj Login oraz Hasło: </h2>
    <form method="POST" action="/todos/">
        {{ login_form.hidden_tag() }}
        <table>
            {% for field in login_form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go">
    </form>
</div>


{% endblock %}

