{% extends "index.html" %}
{% block content %}

<div class="row">
   <div class="col-lg-12 text-center">
       <h1 class="mt-5">Witaj w moim Sklepie</h1>
       <p class="lead">Zaloguj się, lub Załóż konto!</p>
   </div>
    <div class="col-lg-6 mb-4">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h4 class="card-title">Log-in</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h4 class="card-title">Sign-in</h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}
